@model RandomSiteControlsMVC.MVC.Models.PrintTo.PrintToModel


@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Mvc;
@using RandomSiteControlsMVC.Helpers;
@using Telerik.Sitefinity.Services;


@Html.Script(ScriptRef.JQuery, RSCUtil.SfsConfig.jQueryScriptPlaceholder)
@Html.Script(ScriptRef.KendoWeb, RSCUtil.SfsConfig.KendoScriptPlaceholder)
@Html.Script("/Mvc/Views/PrintTo/Resources/printer.js",RSCUtil.SfsConfig.DefaultScriptPlaceholder)

<div class="print-button">
    <!-- print-button class is important for wiring it up -->
    <button type="button" class="btn btn-primary print-button" 
                        data-elementid='@Model.ElementId' 
                        data-filename='@Model.Filename' 
                        data-mode='@Model.Mode' 
                        data-papersize="@Model.PaperSize"
                        data-margintop="@Model.MarginTop"
                        data-marginleft="@Model.MarginLeft"
                        data-marginbottom="@Model.MarginBottom"
                        data-marginright="@Model.MarginRight"
                        data-multipage="@Model.Multipage"
                        data-landscape="@Model.Landscape"
                        >
        @Model.ButtonText
    </button>
</div>