@using System.Web.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;

<!DOCTYPE html>
<html @Html.RenderLangAttribute()>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>

    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="dns-prefetch" href="https://www.googletagmanager.com">
    <link rel="dns-prefetch" href="https://stackpath.bootstrapcdn.com">
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="https://maps.googleapis.com">

    @Html.Section("head")
    @Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/RSC/assets/hyper/css/app.min.css"), "head", true)
    @Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/RSC/assets/hyper/css/icons.min.css"), "head", true)
    @*@Html.StyleSheet(Url.WidgetContent("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"), "head", true)*@

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9203642-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-9203642-2');
    </script>

    @if (SystemManager.IsDesignMode)
    {
        <style>
            .logo {
                position: absolute !important;
            }

            .left-side-menu {
                position: absolute !important;
                z-index: 9 !important;
            }

            .sfMessagePane {
                z-index: 99 !important;
            }

            .content-page {
                padding-top: 0;
                overflow-y: scroll;
            }

            .wrapper {
                overflow-y: scroll;
            }

            .footer .scripts {
                display: block !important;
                visibility: visible !important;
            }
        </style>
    }
    else
    {
        <style>
            .doc-link a {
                color: #FFF;
            }

                .doc-link a:hover {
                    text-decoration: underline;
                }

            .left-side-menu {
                padding-top: 93px;
            }
        </style>
    }
</head>

<body style="background-color:#fafbfe" data-layout-config="{&quot;leftSideBarTheme&quot;:&quot;dark&quot;,&quot;layoutBoxed&quot;:false, &quot;leftSidebarCondensed&quot;:false, &quot;leftSidebarScrollable&quot;:false,&quot;darkMode&quot;:false, &quot;showRightSidebarOnStart&quot;: true}" data-leftbar-theme="dark">
    @Html.Section("top")

    <!-- Begin page -->
    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu">

            <!-- LOGO -->
            <a href="/" class="logo text-center logo-light d-sm-none d-md-none d-lg-block">
                <span class="logo-lg">
                    <img src="https://www.sitefinitysteve.com/images/home/tech/RSCLogo-Dark.svg" alt="RSC Logo">
                </span>
                <span class="logo-sm">
                    <img src="https://www.sitefinitysteve.com/images/home/tech/RSCLogo-White.svg" alt="RSC Logo">
                </span>
            </a>

            <!-- LOGO -->
            <a href="/" class="logo text-center logo-dark  d-sm-none d-md-none d-lg-block">
                <span class="logo-lg">
                    <img src="https://www.sitefinitysteve.com/images/home/tech/RSCLogo-Dark.svg" alt="RSC Logo">
                </span>
                <span class="logo-sm">
                    <img src="https://www.sitefinitysteve.com/images/home/tech/RSCLogo-White.svg" alt="RSC Logo">
                </span>
            </a>

            <div class="h-100" id="left-side-menu-container" data-simplebar>
                <ul class="metismenu side-nav">
                    <li class="side-nav-title side-nav-item">Navigation</li>

                    <!--- Sidemenu -->
                    @Html.SfPlaceHolder("SideNav")

                    <li class="side-nav-title side-nav-item mt-1">Components</li>
                    @Html.SfPlaceHolder("Components")
                </ul>

                <!-- End Sidebar -->

                <div class="clearfix"></div>
                <div class="help-box text-white text-center">
                    <img src="~/ResourcePackages/RSC/assets/hyper/images/help-icon.svg" height="90" alt="Helper Icon Image">
                    <p class="mb-3">If you're enjoying these widgets please consider donating to their ongoing development</p>
                    <a href="https://www.sitefinitysteve.com/donate" class="btn btn-outline-light btn-sm">Donate 🍺</a>
                </div>
            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">
                @if (!SystemManager.IsDesignMode)
                {
                    <!-- Topbar Start -->
                    <div class="navbar-custom d-xl-none">
                        <button class="button-menu-mobile open-left disable-btn">
                            <i class="mdi mdi-menu"></i>
                        </button>
                        <span class="logo-sm d-lg-none">
                            <img src="https://www.sitefinitysteve.com/images/home/tech/RSCLogo-White.svg" alt="RSC Logo">
                        </span>
                    </div>
                    <!-- end Topbar -->
                }
                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    @Html.SfPlaceHolder("PageTitle")
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-12">
                            @Html.SfPlaceHolder("Content")
                        </div> <!-- end col -->
                    </div>
                    <!-- end row-->

                </div> <!-- container -->

            </div> <!-- content -->
            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <script>document.write(new Date().getFullYear())</script> © RandomSiteControls Demos - <a href="https://www.sitefinitysteve.com">sitefinitysteve.com</a>
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-right footer-links d-none d-md-block">
                                @*<a href="javascript: void(0);">About</a>*@
                                <a href="https://github.com/sitefinitysteve/RandomSiteControlsMVC/issues">Support</a>
                                <a href="https://www.sitefinitysteve.com/contact">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    @*<div class="row scripts hidden">
                            <div class="col-12">
                                @Html.SfPlaceHolder("ScriptStyles")
                            </div>
                        </div>*@
                </div>
            </footer>
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

    @Html.Section("jquery")
    @Html.Section("kendo")
    @Html.Section("frameworks")
    @Html.Section("plugins")
    @Html.Section("bottom")

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    @if (!SystemManager.IsDesignMode)
    {
        Html.Script(ScriptRef.JQuery, Telerik.Sitefinity.RSCUtil.SfsConfig.jQueryScriptPlaceholder);
        Html.Script("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", "frameworks");
        Html.Script("/ResourcePackages/RSC/assets/hyper/js/vendor.min.js?v=2020-10-16", "plugins");

        Html.Script("/ResourcePackages/RSC/assets/hyper/js/app.min.js?v=2020-10-16", "bottom");
        //Html.Script("/ResourcePackages/RSC/assets/rscdemo.min.js", "bottom");
    }
</body>
</html>
