@using System.Web.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;

<!DOCTYPE html>
<html @Html.RenderLangAttribute()>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>

    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="dns-prefetch" href="https://www.googletagmanager.com">
    <link rel="dns-prefetch" href="https://stackpath.bootstrapcdn.com">
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="https://maps.googleapis.com">

    @Html.Section("head")


    @Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/RSC/assets/public/css/app.css"), "head", true)

    @*@Html.StyleSheet(Url.WidgetContent("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"), "head", true)*@

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9203642-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-9203642-2');
    </script>

    @if (SystemManager.IsDesignMode)
    {
        <style>
            .footer .scripts {
                display: block !important;
                visibility: visible !important;
            }
        </style>
    }
    else
    {
        <style>
        </style>
    }
</head>

<body>
    @Html.Section("top")
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div id="app" class="h-screen flex overflow-hidden bg-gray-100">
        <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
        <div class="md:hidden"  v-show="mobileMenu.isOpen">
            <div class="fixed inset-0 flex z-40">
                <!--
                  Off-canvas menu overlay, show/hide based on off-canvas menu state.

                  Entering: "transition-opacity ease-linear duration-300"
                    From: "opacity-0"
                    To: "opacity-100"
                  Leaving: "transition-opacity ease-linear duration-300"
                    From: "opacity-100"
                    To: "opacity-0"
                -->
                <div class="fixed inset-0 transition-opacity ease-linear duration-300">
                    <div class="absolute inset-0 bg-gray-600 opacity-75"></div>
                </div>
                <!--
                  Off-canvas menu, show/hide based on off-canvas menu state.

                  Entering: "transition ease-in-out duration-300 transform"
                    From: "-translate-x-full"
                    To: "translate-x-0"
                  Leaving: "transition ease-in-out duration-300 transform"
                    From: "translate-x-0"
                    To: "-translate-x-full"
                -->
                <div class="relative flex-1 flex flex-col max-w-xs w-full bg-gray-800 transition-all ease-in-out duration-300 transform translate-x-0"
                    :class="mobileMenu.isOpen ? 'translate-x-0' : '-translate-x-full'">
                    <div class="absolute top-0 right-0 -mr-12 pt-2" v-show="mobileMenu.isOpen">
                        <button class="ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" v-on:click="closeSidebar()">
                            <span class="sr-only">Close sidebar</span>
                            <!-- Heroicon name: outline/x -->
                            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                    <div class="flex-1 h-0 pt-5 pb-4 overflow-y-auto">
                        <div class="flex-shrink-0 flex items-center px-4">
                            <img class="" src="https://www.sitefinitysteve.com/images/home/tech/RSCLogo-Dark.svg" alt="Workflow">
                        </div>
                        <nav class="mt-5 px-2 space-y-1">
                            @Html.Action("Index", "SideNav")
                        </nav>
                    </div>
                    <div class="flex-shrink-0 flex bg-gray-700 p-4">
                        <a href="https://www.sitefinitysteve.com" class="flex-shrink-0 group block">
                            <div class="flex items-center">
                                <div>
                                    <img class="inline-block h-10 w-10 rounded-full" src="https://pbs.twimg.com/profile_images/1271931640516935681/2Au1zBBS_400x400.jpg" alt="" />
                                </div>
                                <div class="ml-3">
                                    <p class="text-base font-medium text-white">
                                        Steve McNiven-Scott
                                    </p>
                                    <p class="text-sm font-medium text-gray-400 group-hover:text-gray-300">
                                        View profile
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="flex-shrink-0 w-14">
                    <!-- Force sidebar to shrink to fit close icon -->
                </div>
            </div>
        </div>

        <!-- Static sidebar for desktop -->
        <div class="hidden md:flex md:flex-shrink-0">
            <div class="flex flex-col w-64">
                <!-- Sidebar component, swap this element with another sidebar if you like -->
                <div class="flex flex-col h-0 flex-1 bg-gray-800">
                    <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
                        <div class="flex items-center flex-shrink-0 px-4">
                            <a href="/">
                                <svg width="100%"  viewBox="0 0 255 83" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <title>RSCLogo-Dark</title>
                                    <g id="RSCLogo-Dark" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <path d="M96.8973967,50.519983 C97.2573967,50.519983 97.5753967,50.405983 97.8513967,50.177983 C98.1273967,49.949983 98.2653967,49.655983 98.2653967,49.295983 C98.2653967,49.007983 98.1813967,48.731983 98.0133967,48.467983 L98.0133967,48.467983 L93.9093967,41.987983 C93.4293967,41.219983 92.9493967,40.619983 92.4693967,40.187983 C91.9893967,39.755983 91.4493967,39.443983 90.8493967,39.251983 C93.0093967,38.987983 94.6713967,38.243983 95.8353967,37.019983 C96.9993967,35.795983 97.5813967,34.175983 97.5813967,32.159983 C97.5813967,29.783983 96.8553967,27.983983 95.4033967,26.759983 C93.9513967,25.535983 91.8453967,24.923983 89.0853967,24.923983 L89.0853967,24.923983 L80.1573967,24.923983 C79.7013967,24.923983 79.3353967,25.055983 79.0593967,25.319983 C78.7833967,25.583983 78.6453967,25.931983 78.6453967,26.363983 L78.6453967,26.363983 L78.6453967,48.971983 C78.6453967,49.427983 78.7773967,49.793983 79.0413967,50.069983 C79.3053967,50.345983 79.6653967,50.483983 80.1213967,50.483983 C80.5533967,50.483983 80.9013967,50.345983 81.1653967,50.069983 C81.4293967,49.793983 81.5613967,49.427983 81.5613967,48.971983 L81.5613967,48.971983 L81.5613967,39.575983 L86.0973967,39.575983 C87.2493967,39.575983 88.1613967,39.761983 88.8333967,40.133983 C89.5053967,40.505983 90.1533967,41.183983 90.7773967,42.167983 L90.7773967,42.167983 L95.6013967,49.799983 C95.9133967,50.279983 96.3453967,50.519983 96.8973967,50.519983 Z M88.8333967,37.127983 L81.5613967,37.127983 L81.5613967,27.371983 L88.8333967,27.371983 C90.8253967,27.371983 92.3013967,27.767983 93.2613967,28.559983 C94.2213967,29.351983 94.7013967,30.563983 94.7013967,32.195983 C94.7013967,33.851983 94.2153967,35.087983 93.2433967,35.903983 C92.2713967,36.719983 90.8013967,37.127983 88.8333967,37.127983 L88.8333967,37.127983 Z M123.933397,50.483983 C124.317397,50.483983 124.647397,50.363983 124.923397,50.123983 C125.199397,49.883983 125.337397,49.583983 125.337397,49.223983 C125.337397,49.007983 125.289397,48.803983 125.193397,48.611983 L125.193397,48.611983 L114.897397,25.715983 C114.753397,25.403983 114.537397,25.157983 114.249397,24.977983 C113.961397,24.797983 113.637397,24.707983 113.277397,24.707983 C112.941397,24.707983 112.629397,24.791983 112.341397,24.959983 C112.053397,25.127983 111.837397,25.379983 111.693397,25.715983 L111.693397,25.715983 L101.397397,48.611983 C101.301397,48.803983 101.253397,48.995983 101.253397,49.187983 C101.253397,49.547983 101.397397,49.853983 101.685397,50.105983 C101.973397,50.357983 102.309397,50.483983 102.693397,50.483983 C103.293397,50.483983 103.713397,50.195983 103.953397,49.619983 L103.953397,49.619983 L106.545397,43.787983 L120.117397,43.787983 L122.673397,49.619983 C122.913397,50.195983 123.333397,50.483983 123.933397,50.483983 Z M119.037397,41.339983 L107.625397,41.339983 L113.313397,28.415983 L119.037397,41.339983 Z M148.413397,50.483983 C148.869397,50.483983 149.223397,50.345983 149.475397,50.069983 C149.727397,49.793983 149.853397,49.427983 149.853397,48.971983 L149.853397,48.971983 L149.853397,26.255983 C149.853397,25.799983 149.733397,25.433983 149.493397,25.157983 C149.253397,24.881983 148.917397,24.743983 148.485397,24.743983 C148.053397,24.743983 147.711397,24.881983 147.459397,25.157983 C147.207397,25.433983 147.081397,25.799983 147.081397,26.255983 L147.081397,26.255983 L147.081397,45.335983 L132.177397,25.355983 C131.841397,24.947983 131.433397,24.743983 130.953397,24.743983 C130.497397,24.743983 130.143397,24.881983 129.891397,25.157983 C129.639397,25.433983 129.513397,25.799983 129.513397,26.255983 L129.513397,26.255983 L129.513397,48.971983 C129.513397,49.427983 129.633397,49.793983 129.873397,50.069983 C130.113397,50.345983 130.449397,50.483983 130.881397,50.483983 C131.313397,50.483983 131.655397,50.345983 131.907397,50.069983 C132.159397,49.793983 132.285397,49.427983 132.285397,48.971983 L132.285397,48.971983 L132.285397,29.891983 L147.225397,49.871983 C147.561397,50.279983 147.957397,50.483983 148.413397,50.483983 Z M164.649397,50.303983 C168.681397,50.303983 171.813397,49.199983 174.045397,46.991983 C176.277397,44.783983 177.393397,41.651983 177.393397,37.595983 C177.393397,33.539983 176.283397,30.413983 174.063397,28.217983 C171.843397,26.021983 168.705397,24.923983 164.649397,24.923983 L164.649397,24.923983 L157.629397,24.923983 C157.173397,24.923983 156.807397,25.055983 156.531397,25.319983 C156.255397,25.583983 156.117397,25.931983 156.117397,26.363983 L156.117397,26.363983 L156.117397,48.863983 C156.117397,49.295983 156.255397,49.643983 156.531397,49.907983 C156.807397,50.171983 157.173397,50.303983 157.629397,50.303983 L157.629397,50.303983 L164.649397,50.303983 Z M164.469397,47.783983 L159.069397,47.783983 L159.069397,27.443983 L164.469397,27.443983 C171.045397,27.443983 174.333397,30.827983 174.333397,37.595983 C174.333397,44.387983 171.045397,47.783983 164.469397,47.783983 L164.469397,47.783983 Z M193.341397,50.591983 C195.693397,50.591983 197.739397,50.063983 199.479397,49.007983 C201.219397,47.951983 202.557397,46.445983 203.493397,44.489983 C204.429397,42.533983 204.897397,40.235983 204.897397,37.595983 C204.897397,34.955983 204.435397,32.657983 203.511397,30.701983 C202.587397,28.745983 201.255397,27.245983 199.515397,26.201983 C197.775397,25.157983 195.717397,24.635983 193.341397,24.635983 C190.965397,24.635983 188.907397,25.157983 187.167397,26.201983 C185.427397,27.245983 184.095397,28.745983 183.171397,30.701983 C182.247397,32.657983 181.785397,34.967983 181.785397,37.631983 C181.785397,40.271983 182.253397,42.563983 183.189397,44.507983 C184.125397,46.451983 185.463397,47.951983 187.203397,49.007983 C188.943397,50.063983 190.989397,50.591983 193.341397,50.591983 Z M193.341397,48.071983 C190.653397,48.071983 188.559397,47.159983 187.059397,45.335983 C185.559397,43.511983 184.809397,40.931983 184.809397,37.595983 C184.809397,34.259983 185.559397,31.685983 187.059397,29.873983 C188.559397,28.061983 190.653397,27.155983 193.341397,27.155983 C196.053397,27.155983 198.153397,28.055983 199.641397,29.855983 C201.129397,31.655983 201.873397,34.235983 201.873397,37.595983 C201.873397,40.955983 201.123397,43.541983 199.623397,45.353983 C198.123397,47.165983 196.029397,48.071983 193.341397,48.071983 Z M232.833397,50.483983 C233.265397,50.483983 233.601397,50.351983 233.841397,50.087983 C234.081397,49.823983 234.201397,49.475983 234.201397,49.043983 L234.201397,49.043983 L234.201397,26.255983 C234.201397,25.799983 234.075397,25.433983 233.823397,25.157983 C233.571397,24.881983 233.217397,24.743983 232.761397,24.743983 C232.449397,24.743983 232.179397,24.821983 231.951397,24.977983 C231.723397,25.133983 231.513397,25.403983 231.321397,25.787983 L231.321397,25.787983 L222.285397,43.319983 L213.141397,25.787983 C212.781397,25.091983 212.301397,24.743983 211.701397,24.743983 C211.245397,24.743983 210.885397,24.881983 210.621397,25.157983 C210.357397,25.433983 210.225397,25.799983 210.225397,26.255983 L210.225397,26.255983 L210.225397,49.043983 C210.225397,49.475983 210.345397,49.823983 210.585397,50.087983 C210.825397,50.351983 211.161397,50.483983 211.593397,50.483983 C212.025397,50.483983 212.355397,50.351983 212.583397,50.087983 C212.811397,49.823983 212.925397,49.475983 212.925397,49.043983 L212.925397,49.043983 L212.925397,30.827983 L220.773397,45.623983 C221.133397,46.319983 221.625397,46.667983 222.249397,46.667983 C222.897397,46.667983 223.389397,46.319983 223.725397,45.623983 L223.725397,45.623983 L231.537397,30.647983 L231.537397,49.043983 C231.537397,49.475983 231.645397,49.823983 231.861397,50.087983 C232.077397,50.351983 232.401397,50.483983 232.833397,50.483983 Z" id="RANDOM" fill="#FFFFFF" fill-rule="nonzero"></path>
                                        <rect id="Rectangle" fill="#D8D8D8" transform="translate(29.941397, 36.303983) rotate(-18.000000) translate(-29.941397, -36.303983) " x="10.9413967" y="17.303983" width="38" height="38" rx="8"></rect>
                                        <polygon id="Polygon" fill="#0ACF97" transform="translate(53.359031, 39.721617) rotate(18.000000) translate(-53.359031, -39.721617) " points="53.359031 17.7216172 74.2822743 32.9232434 66.2903065 57.5199911 40.4277554 57.5199911 32.4357876 32.9232434"></polygon>
                                        <path d="M89.9,70.08 C90.0813333,70.08 90.2333333,70.024 90.356,69.912 C90.4786667,69.8 90.54,69.6426667 90.54,69.44 L90.54,69.44 L90.54,63.232 L92.316,63.232 C92.4973333,63.232 92.636,63.1893333 92.732,63.104 C92.828,63.0186667 92.876,62.896 92.876,62.736 C92.876,62.576 92.828,62.448 92.732,62.352 C92.636,62.256 92.4973333,62.208 92.316,62.208 L92.316,62.208 L90.54,62.208 L90.54,61.696 C90.54,61.0666667 90.684,60.5946667 90.972,60.28 C91.26,59.9653333 91.6866667,59.7866667 92.252,59.744 L92.252,59.744 L92.668,59.712 C93.0413333,59.6693333 93.228,59.4933333 93.228,59.184 C93.228,58.992 93.1666667,58.8586667 93.044,58.784 C92.9213333,58.7093333 92.7213333,58.6826667 92.444,58.704 L92.444,58.704 L92.028,58.736 C91.132,58.8 90.444,59.1066667 89.964,59.656 C89.484,60.2053333 89.244,60.96 89.244,61.92 L89.244,61.92 L89.244,62.208 L88.172,62.208 C87.9906667,62.208 87.8493333,62.256 87.748,62.352 C87.6466667,62.448 87.596,62.576 87.596,62.736 C87.596,62.8853333 87.6466667,63.0053333 87.748,63.096 C87.8493333,63.1866667 87.9906667,63.232 88.172,63.232 L88.172,63.232 L89.244,63.232 L89.244,69.44 C89.244,69.6426667 89.3053333,69.8 89.428,69.912 C89.5506667,70.024 89.708,70.08 89.9,70.08 Z M97.292,70.112 C98.028,70.112 98.6786667,69.9466667 99.244,69.616 C99.8093333,69.2853333 100.244,68.8133333 100.548,68.2 C100.852,67.5866667 101.004,66.8746667 101.004,66.064 C101.004,65.2533333 100.852,64.5413333 100.548,63.928 C100.244,63.3146667 99.8093333,62.8426667 99.244,62.512 C98.6786667,62.1813333 98.028,62.016 97.292,62.016 C96.556,62.016 95.908,62.1813333 95.348,62.512 C94.788,62.8426667 94.356,63.3146667 94.052,63.928 C93.748,64.5413333 93.596,65.2533333 93.596,66.064 C93.596,66.8746667 93.748,67.5866667 94.052,68.2 C94.356,68.8133333 94.788,69.2853333 95.348,69.616 C95.908,69.9466667 96.556,70.112 97.292,70.112 Z M97.292,69.04 C96.524,69.04 95.9346667,68.784 95.524,68.272 C95.1133333,67.76 94.908,67.024 94.908,66.064 C94.908,65.1146667 95.116,64.3813333 95.532,63.864 C95.948,63.3466667 96.5346667,63.088 97.292,63.088 C98.0493333,63.088 98.636,63.3466667 99.052,63.864 C99.468,64.3813333 99.676,65.1146667 99.676,66.064 C99.676,67.0346667 99.4706667,67.7733333 99.06,68.28 C98.6493333,68.7866667 98.06,69.04 97.292,69.04 Z M103.596,70.08 C103.788,70.08 103.942667,70.0266667 104.06,69.92 C104.177333,69.8133333 104.236,69.6533333 104.236,69.44 L104.236,69.44 L104.236,65.552 C104.236,64.9546667 104.409333,64.4346667 104.756,63.992 C105.102667,63.5493333 105.633333,63.296 106.348,63.232 L106.348,63.232 L106.828,63.184 C107.062667,63.1626667 107.228,63.1013333 107.324,63 C107.42,62.8986667 107.468,62.7626667 107.468,62.592 C107.468,62.1973333 107.244,62.016 106.796,62.048 L106.796,62.048 L106.572,62.064 C106.038667,62.1066667 105.566667,62.2506667 105.156,62.496 C104.745333,62.7413333 104.428,63.0986667 104.204,63.568 L104.204,63.568 L104.204,62.672 C104.204,62.48 104.145333,62.328 104.028,62.216 C103.910667,62.104 103.766667,62.048 103.596,62.048 C103.414667,62.048 103.26,62.104 103.132,62.216 C103.004,62.328 102.94,62.4853333 102.94,62.688 L102.94,62.688 L102.94,69.44 C102.94,69.6426667 103.001333,69.8 103.124,69.912 C103.246667,70.024 103.404,70.08 103.596,70.08 Z" id="for" fill="#8C98A4" fill-rule="nonzero"></path>
                                        <g id="progress-sitefinity" transform="translate(111.000000, 56.000000)" fill="#8C98A4">
                                            <path d="M17.0146702,8.34762577 L17.0289992,13.6952515 L17.8962446,13.7120496 L18.76349,13.7288477 L18.76349,11.6652425 L18.76349,9.60200261 L20.1138273,9.56731097 C22.0830408,9.51618644 22.7568448,9.31716595 23.4504364,8.5813379 C24.5319345,7.43395739 24.4937238,4.98801384 23.3774268,3.92316293 C22.55658,3.14022728 22.1843673,3.05733251 19.3458614,3.02592744 L17,3 L17.0146702,8.34762577 M84.9726635,5.11363411 C84.9726635,5.64898097 84.9815339,5.86005224 84.99211,5.58215391 C85.0026862,5.30462075 85.0026862,4.8664105 84.9917688,4.6085968 C84.9811927,4.3507831 84.9726635,4.57792208 84.9726635,5.11363411 M70.5921513,4.49831388 C70.1244119,4.65606957 69.9203943,4.90219767 69.854208,5.38751552 C69.6662252,6.76532158 71.3983279,7.3218486 71.8971134,6.04373537 C72.2512443,5.13627498 71.4645142,4.20434784 70.5921513,4.49831388 M21.6170072,4.81711184 C22.2283777,5.08076834 22.4593475,5.48538248 22.4593475,6.29315004 C22.4593475,7.5767409 22.0113958,7.87034177 19.9715609,7.92475287 L18.76349,7.95725347 L18.76349,6.29899284 L18.76349,4.64036704 L20.0568525,4.67140693 C21.1472209,4.69769955 21.3925196,4.72034041 21.6170072,4.81711184 M71.2516263,4.82478052 C71.599275,5.07456036 71.7299418,5.36706571 71.6651201,5.75196038 C71.6122393,6.06820211 71.5385473,6.14452373 71.4085629,6.01853828 C71.2922251,5.90606432 71.2676611,5.71434733 71.3652347,5.67965569 C71.3993514,5.6676049 71.4300564,5.55659164 71.4331269,5.4335276 C71.4423384,5.08624597 71.2697081,4.96135605 70.7804752,4.96135605 L70.3891572,4.96135605 L70.4055331,5.58507531 L70.421568,6.20915974 L70.6064803,6.22814885 C70.7787694,6.24604244 70.7913925,6.23435683 70.7913925,6.06089861 C70.7913925,5.82353472 70.8708844,5.82170884 70.9619758,6.05688168 C71.0189506,6.20404729 71.066714,6.23946928 71.2082981,6.23946928 C71.3703522,6.23946928 71.3768344,6.24713796 71.2925662,6.33770141 C71.0431735,6.60464449 70.3881337,6.39357322 70.1977627,5.98530734 C69.8610313,5.2626256 70.6508319,4.39314342 71.2516263,4.82478052 M71.0186095,5.41782506 C71.0186095,5.46858442 70.9681168,5.50911886 70.905001,5.50911886 C70.8418852,5.50911886 70.7913925,5.46858442 70.7913925,5.41782506 C70.7913925,5.36706571 70.8418852,5.32653126 70.905001,5.32653126 C70.9681168,5.32653126 71.0186095,5.36706571 71.0186095,5.41782506 M27.6338209,5.79979833 C27.2094097,5.94331219 27.0818134,6.02438108 26.7665755,6.35084772 L26.4963716,6.63057193 L26.4963716,6.25225042 L26.4963716,5.87429407 L25.7574048,5.87429407 L25.0180968,5.87429407 L25.0180968,9.79992757 L25.0180968,13.7255611 L25.8075563,13.7255611 L26.5966746,13.7255611 L26.6243091,11.3365849 C26.6587669,8.34324366 26.722565,8.06680603 27.4820018,7.63407341 C27.7290064,7.49348095 28.5539472,7.4544072 28.7617176,7.57308915 C28.9288893,7.66913023 28.9415124,7.66000085 28.9421948,7.44162607 C28.9425359,7.33280386 28.9786996,7.11698531 29.0223689,6.9625162 C29.0663794,6.80768191 29.110731,6.50969894 29.1213072,6.30008837 L29.1404125,5.91921062 L28.9131956,5.83229892 C28.5478062,5.69280199 27.9913635,5.67856016 27.6338209,5.79979833 M31.6991618,5.80965806 C30.5149727,6.17556362 29.9472715,6.76532158 29.4389333,8.15663913 C28.9060311,9.61587927 29.2871142,11.8628023 30.2389689,12.8736073 C30.4682328,13.1171792 31.0410515,13.5426083 31.140331,13.5426083 C31.1768358,13.5429735 31.2791858,13.5813169 31.3675479,13.6284245 C32.318038,14.1327314 33.9662137,13.9154522 34.863823,13.166843 C36.4147662,11.8741228 36.7187456,8.73179009 35.459841,7.00597205 C34.6553702,5.90277774 33.0501815,5.3922628 31.6991618,5.80965806 M39.2618013,5.80856254 C38.3304165,6.11494454 37.4638534,7.06184385 37.2240133,8.03503579 C37.2072962,8.10186285 37.149639,8.27970318 37.0957347,8.43052054 C36.9241279,8.90890006 36.9527859,10.6398306 37.1421334,11.2303189 C37.8350427,13.3936168 39.8073266,14.3697301 41.5363588,13.4049372 C41.6612258,13.3351888 41.7765401,13.2625189 41.7922338,13.2431646 C42.1927633,12.7501781 42.069261,14.2397278 41.6547436,14.9006949 C41.0437143,15.874252 38.7783682,15.6124214 38.7783682,14.5683855 C38.7783682,14.4643105 38.7196876,14.4559115 38.0039201,14.4559115 L37.229472,14.4559115 L37.2547183,14.8057493 C37.366621,16.3657778 39.0192318,17.2820024 41.0710076,16.9219397 C42.2940898,16.7075818 43.0112219,16.0502665 43.4308568,14.7601024 L43.5792643,14.3036334 L43.5997343,10.0891463 L43.6198631,5.87429407 L42.8764611,5.87429407 L42.1334003,5.87429407 L42.1334003,6.15109688 L42.1334003,6.42753452 L41.8717256,6.21390702 C41.2688842,5.72128566 40.0857186,5.53723736 39.2618013,5.80856254 M47.4497991,5.80235456 C47.0567752,5.92030615 46.7101499,6.14452373 46.4928268,6.42096136 L46.3410077,6.61413905 L46.3410077,6.24421656 L46.3410077,5.87429407 L45.6016997,5.87429407 L44.8627329,5.87429407 L44.8627329,9.79992757 L44.8627329,13.7255611 L45.6538982,13.7255611 L46.4450635,13.7255611 L46.4672393,11.2452911 L46.4894151,8.76538621 L46.6381638,8.42431256 C46.982742,7.63443858 47.8179178,7.26561162 48.5688254,7.5708981 C48.7363382,7.63918586 48.7861485,7.57564537 48.7861485,7.29299976 C48.7861485,7.20864429 48.8226533,6.98479189 48.867005,6.7959963 C48.9116978,6.60720072 48.9563906,6.33185861 48.9666256,6.184693 L48.9850486,5.9166544 L48.6155652,5.80454561 C48.1669312,5.66833526 47.8980919,5.6676049 47.4497991,5.80235456 M51.5721148,5.80965806 C50.2142718,6.21609807 49.4643877,7.16774467 49.1324326,8.90670901 C49.0058598,9.56804132 49.0945631,10.9235717 49.2978984,11.443216 C49.5025983,11.9665121 49.6131363,12.203876 49.6523705,12.203876 C49.6762521,12.203876 49.6956986,12.2451408 49.6956986,12.295535 C49.6956986,12.5683208 50.653012,13.3906954 51.2309482,13.6152782 C53.1940207,14.3773988 55.1523168,13.4695733 55.6981833,11.5443695 C55.8285089,11.0853443 55.8663784,11.1083503 54.9885568,11.1083503 L54.1973916,11.1083503 L54.0994767,11.3822318 C54.0459136,11.5330491 53.9797273,11.6561132 53.9527751,11.6561132 C53.9254818,11.6561132 53.9036471,11.6904396 53.903306,11.7324348 C53.903306,11.8675496 53.3741566,12.197668 52.9824974,12.3068554 C52.1937203,12.527056 51.173291,12.0260357 50.9136633,11.290938 C50.8959226,11.240909 50.8450888,11.1098111 50.800396,10.9998933 C50.7557032,10.8899756 50.7191983,10.6913203 50.7191983,10.5587617 L50.7191983,10.3173808 L53.2823828,10.3173808 L55.8452261,10.3173808 L55.8206621,9.45008972 C55.7442408,6.75363598 53.8473546,5.1286063 51.5721148,5.80965806 M58.9358541,5.72019013 C58.9044668,5.73041504 58.7253543,5.77167984 58.5377127,5.81148394 C58.220769,5.87867618 57.917813,5.99407154 57.7131131,6.12480427 C57.6663733,6.15474863 57.5896108,6.19747413 57.5425298,6.21974982 C56.8680435,6.53927813 56.4197506,7.68373724 56.6435559,8.51487601 C56.8700905,9.3562397 57.4251685,9.78166881 58.8645503,10.2180532 C59.0443451,10.2728295 59.3258075,10.3579153 59.4902498,10.4075791 C60.985924,10.859666 61.1534368,10.9670275 61.1534368,11.4738907 C61.1534368,12.7585771 58.4087517,12.6884635 58.0515503,11.3946477 L57.9727409,11.1083503 L57.1890812,11.1083503 C56.2993188,11.1083503 56.3607288,11.0568606 56.4873016,11.6977431 C56.8499617,13.5327486 59.169212,14.419394 61.3151498,13.5437038 C63.0018773,12.8553486 63.3437262,10.3316227 61.8558988,9.5475915 C61.3728069,9.29306438 61.155825,9.21236066 60.4994205,9.04218901 C59.6485511,8.82162319 58.870009,8.59083246 58.824975,8.54555073 C58.7952935,8.51560636 58.7304718,8.4915048 58.6810027,8.4915048 C58.3650824,8.4915048 58.0969255,7.93388225 58.2644383,7.6253092 C58.7502595,6.73172547 60.9541956,7.13743512 60.9541956,8.12048679 L60.9541956,8.30891719 L61.7218203,8.30891719 L62.4894451,8.30891719 L62.4894451,7.98683266 C62.4894451,7.09434445 61.9937301,6.3628985 61.1247788,5.97435208 C60.6737566,5.77277537 59.2701973,5.60954205 58.9358541,5.72019013 M65.5033106,5.81038841 C64.9847375,5.95098087 64.6688172,6.07367974 64.5801139,6.16826012 C64.5436091,6.20733386 64.4845873,6.23946928 64.4491059,6.23946928 C64.0618819,6.23946928 63.5695785,7.2349369 63.570602,8.0156815 C63.5712843,8.92423742 64.3453913,9.95220564 65.0287479,9.95220564 C65.0686644,9.95220564 65.1853434,9.99018386 65.2880345,10.0369263 C65.3907257,10.0836687 65.6281776,10.1665635 65.8158192,10.2209746 C67.8355253,10.809637 68.1186936,10.9611847 68.1186936,11.4519802 C68.1186936,12.6340524 65.5718851,12.7410487 65.0481944,11.5808871 C64.985761,11.4424857 64.934586,11.2792523 64.934586,11.2186333 C64.934586,11.1178449 64.8701055,11.1083503 64.1669612,11.1083503 L63.3993364,11.1083503 L63.3993364,11.3997602 C63.3993364,11.6984735 63.5586612,12.2772762 63.6753401,12.4021661 C63.7111626,12.4405095 63.740503,12.5029545 63.740503,12.5412979 C63.740503,12.6486594 64.1963015,13.1390897 64.4641173,13.3194862 C65.5623325,14.0607919 68.0490956,13.9928693 68.8450372,13.2000739 C68.9078119,13.137629 69.0507607,12.9944803 69.1630045,12.8820063 C69.8402201,12.2013198 69.9319939,10.7300288 69.3414346,10.0212238 C69.0047032,9.61733997 67.8846533,9.03926761 67.4387486,9.03926761 C67.386209,9.03926761 67.2296135,9.00128939 67.0910999,8.95491214 C66.9525863,8.90853489 66.6731708,8.82417941 66.4698356,8.76721208 C65.481476,8.4915048 65.1051693,8.24902846 65.1051693,7.88787018 C65.1055104,7.09434445 67.0000084,6.84639048 67.6120612,7.55957766 C67.7587629,7.73011449 67.9481103,8.11500916 67.9481103,8.24209013 C67.9481103,8.28737186 68.1957972,8.30891719 68.7157351,8.30891719 C69.5976507,8.30891719 69.5468169,8.3560248 69.4028446,7.66986058 C69.2708131,7.03920299 68.7880624,6.23946928 68.5400343,6.23946928 C68.4960238,6.23946928 68.4598602,6.21719359 68.4598602,6.18980545 C68.4598602,6.12955154 67.9685803,5.92067132 67.5786269,5.81550086 C67.0801826,5.68075121 65.99152,5.67819499 65.5033106,5.81038841 M84.9764164,10.2867061 C84.9764164,12.1615157 84.9835809,12.9371478 84.9924512,12.0106983 C85.0009803,11.0838836 85.0009803,9.55014773 84.9924512,8.60215289 C84.9835809,7.65415804 84.9764164,8.41226178 84.9764164,10.2867061 M33.1088621,7.24297076 C35.3254214,7.86084721 34.9863018,12.3459291 32.7226616,12.3459291 C31.6179642,12.3459291 30.9305135,11.4351822 30.8868442,9.91422742 C30.8336222,8.04526069 31.8035588,6.87889107 33.1088621,7.24297076 M40.7363232,7.25575189 C41.8819606,7.59938176 42.4203214,9.44680315 41.8406794,11.0477313 C41.7983748,11.1645873 41.7509526,11.2745051 41.7352589,11.290938 C41.7192241,11.307736 41.632909,11.4373732 41.5431822,11.5790612 C41.0420085,12.3700307 39.801868,12.4171383 39.1703686,11.6688943 C38.5255638,10.9045826 38.4044497,9.24011398 38.9141525,8.14130177 C38.9799977,7.99924862 39.0533485,7.88275773 39.076889,7.88275773 C39.1004295,7.88275773 39.1195348,7.84843126 39.119876,7.80680128 C39.119876,7.71879406 39.5794274,7.38173734 39.830526,7.28569626 C40.2255969,7.13378337 40.3197588,7.13086197 40.7363232,7.25575189 M53.0404957,7.28533108 C53.6139967,7.4927506 54.0343139,8.00910835 54.1588397,8.65875505 L54.1967092,8.85668001 L52.4519834,8.85668001 L50.7069163,8.85668001 L50.7458093,8.69162081 C51.0156721,7.54058855 52.0289368,6.91942552 53.0404957,7.28533108" id="path0"></path>
                                            <path d="M6.72084622,0.075082599 C6.65720489,0.116089789 6.4853733,0.211332295 6.33970537,0.286732613 C5.99038519,0.467627234 5.42609874,0.775842567 5.22951774,0.892911481 C5.14324839,0.944501172 4.95338509,1.04371212 4.8073636,1.11349048 C4.66169566,1.18326884 4.52910956,1.25403932 4.51284567,1.27057447 C4.47713581,1.30728252 4.0737205,1.52620801 3.59782478,1.7669599 C3.03141695,2.05401023 2.99535354,2.10030867 3.26052574,2.19985032 C3.3496236,2.23325133 3.50236279,2.30964376 3.5995926,2.36983173 C3.69682241,2.43001971 3.81597312,2.49715245 3.8647648,2.51864815 C3.91320292,2.54014385 4.21373142,2.70152699 4.53229163,2.87746106 C4.85085184,3.05339514 5.12415599,3.19725101 5.13935919,3.19725101 C5.15420884,3.19725101 5.30447309,3.27926539 5.47312261,3.37946844 C5.64177213,3.4800022 5.81961429,3.57954385 5.86805241,3.60070885 C5.9168441,3.62220455 6.08902925,3.71447073 6.25131464,3.8060755 C6.41324646,3.89768027 6.6123024,4.00218247 6.69326831,4.03855981 C6.77423422,4.07460646 6.85378588,4.11892068 6.87004978,4.13677865 C6.88596011,4.15463662 7.24411937,4.35074358 7.66556639,4.5729761 C8.08665985,4.79520861 8.52437077,5.02603941 8.63786447,5.08589668 C8.75100461,5.14575395 9.05577587,5.30945201 9.31458394,5.44967014 C9.57374557,5.59021898 9.83891778,5.73043711 9.90397336,5.76185391 C10.0206491,5.81774274 10.0227705,5.87429298 10.0376201,9.60627799 C10.0461057,11.6893771 10.0666123,13.3938211 10.0835833,13.3938211 C10.1005543,13.3938211 10.3059744,13.2909725 10.5400331,13.1653053 C10.7740917,13.0396381 11.0318391,12.9017348 11.112805,12.8590741 C11.193771,12.8164134 11.3394389,12.7334069 11.4366687,12.6748725 C11.5338985,12.6166687 11.6792129,12.5419298 11.7598252,12.5091902 C11.840084,12.4767813 11.9196357,12.4311443 11.9366067,12.4083258 C11.9532241,12.3851765 12.0865174,12.3107683 12.2321853,12.2426435 C12.3782068,12.1745186 12.5769092,12.0713392 12.674139,12.0128048 C12.7713688,11.954601 12.8908731,11.8881297 12.9393112,11.8649805 C13.3671223,11.6619288 13.839836,11.3785162 13.9119628,11.2822815 C13.9879789,11.1807557 14,10.6539456 14,7.42958988 L14,3.69462854 L13.7655878,3.55606392 C13.6365373,3.4800022 13.5202151,3.4174993 13.5067797,3.4174993 C13.4936979,3.4174993 13.120689,3.21907742 12.6780282,2.97667201 C12.2353674,2.7342666 11.8478624,2.53584471 11.8171024,2.53584471 C11.7859889,2.53584471 11.7608859,2.5133569 11.7608859,2.48590854 C11.7608859,2.45879088 11.6880519,2.40951611 11.5989541,2.3764458 C11.5098562,2.34370619 11.3970696,2.29178579 11.348278,2.2610304 C11.1930638,2.16347297 10.0514091,1.54373527 10.0266597,1.54373527 C10.0135779,1.54373527 9.80851136,1.43625675 9.5705635,1.3049676 C9.33296921,1.17367845 9.00592349,0.995429456 8.84399167,0.909446638 C8.26450201,0.600900602 7.95725582,0.433895513 7.78330285,0.331708241 C7.19638837,-0.0118923286 6.94924788,-0.0717495982 6.72084622,0.075082599 M3.33442039,4.00879653 C3.25911149,4.03525278 2.57072445,4.39803413 2.18604797,4.61398329 C2.12063882,4.65069134 2.01421638,4.70658017 1.94951436,4.73865837 C1.88481234,4.77040588 1.70803088,4.86432557 1.5570595,4.94766276 C1.40573456,5.03066925 0.988176733,5.25885442 0.628956787,5.45463069 C-0.0841796604,5.84320688 -0.100443556,5.85908064 0.137504302,5.94671697 C0.226602163,5.97978728 0.33938874,6.03170768 0.387826863,6.06213237 C0.543394556,6.1600205 1.68469572,6.7797582 1.70979869,6.7797582 C1.72288052,6.7797582 1.99441686,6.92361407 2.31297706,7.09954814 C2.63153727,7.27515151 2.93206577,7.43686535 2.98085745,7.45836105 C3.02929558,7.47985676 3.14879985,7.54533598 3.24602966,7.60353974 C3.34325947,7.66174349 3.54196184,7.76525357 3.68798333,7.83337842 C3.83365126,7.90150327 3.96623736,7.97359656 3.98250126,7.99376945 C3.99876515,8.01394234 4.08185245,8.06520133 4.16741468,8.10786203 C4.25262334,8.15052274 4.48456063,8.27189079 4.68220232,8.3780465 L5.04177582,8.57117714 L5.04248295,11.2855886 C5.04319008,13.66136 5.05415053,14 5.13158081,14 C5.18001893,14 5.21997154,13.9808192 5.21997154,13.9570086 C5.21997154,13.9335287 5.29280551,13.8842539 5.38190337,13.8482073 C5.47100123,13.8118299 5.67677486,13.7086505 5.83870669,13.6183686 C6.00063851,13.5280866 6.19969445,13.4206081 6.28066036,13.3799316 C6.58861368,13.2241704 7.72567209,12.5988108 7.75395713,12.5697089 C7.76986746,12.5531737 7.91306045,12.4774427 8.07181021,12.4017117 C8.64104654,12.1298737 8.60604381,12.3259807 8.62478264,9.29607844 L8.64104654,6.63954006 L8.27121971,6.44078747 C8.06756745,6.33132473 7.76845321,6.17357933 7.60652138,6.09024214 C7.44458955,6.00690494 7.26992946,5.90471767 7.2190164,5.86304907 C7.16774977,5.82171118 7.10092638,5.78764876 7.0701664,5.78764876 C7.03975999,5.78764876 6.87358541,5.70067383 6.70140026,5.59484882 C6.52921511,5.48869311 6.37930442,5.40171818 6.36869753,5.40171818 C6.35809064,5.40171818 6.07983661,5.25290177 5.75031595,5.07101504 C5.42079529,4.88912831 5.14254126,4.74031189 5.13158081,4.74031189 C5.12062036,4.74031189 4.85085184,4.59744813 4.53229163,4.42283687 C3.69646884,3.96448231 3.57696457,3.92314441 3.33442039,4.00879653 M3.20324854,9.48226431 C3.05015579,9.56956994 2.77190176,9.72003987 2.5845134,9.81660519 C2.39747861,9.91317051 2.17791602,10.0342079 2.09695011,10.0854669 C2.0159842,10.1370565 1.90956175,10.1959217 1.86112363,10.2160946 C1.81268551,10.2365982 1.69318123,10.3024081 1.59595142,10.3622654 C1.49872162,10.4224534 1.37921734,10.4879326 1.33077922,10.5084362 C1.2823411,10.5286091 1.05075737,10.6529535 0.816345144,10.7845733 C0.581579353,10.9161932 0.36944159,11.0246638 0.344692184,11.0256559 C0.100026631,11.035577 -0.011345695,11.3123755 0.196549313,11.3933978 C0.380402041,11.4651604 0.814930893,11.6959912 0.859479823,11.7455966 C0.888825547,11.7783363 0.959891697,11.8150443 1.48811473,12.0710085 C1.64474311,12.1467396 1.78581472,12.2218092 1.80207862,12.2380136 C1.84273836,12.2780287 2.57037088,12.6771874 2.60325224,12.6771874 C2.61774832,12.6771874 2.73689903,12.7406824 2.86807088,12.818067 C3.16789225,12.9953238 3.50625198,13.1732421 3.5423154,13.1732421 C3.55751861,13.1732421 3.56989331,12.3051464 3.56989331,11.2442507 C3.56989331,10.183355 3.55009379,9.31691274 3.52569794,9.31922303 C3.50165566,9.32154258 3.3563413,9.39495868 3.20324854,9.48226431" id="path1"></path>
                                            <path d="M95.269369,2.04416301 C94.1513361,2.28086393 93.672627,3.07936871 93.672627,4.70813082 L93.672627,5.56905824 L93.0918352,5.56905824 L92.5110434,5.56905824 L92.5110434,5.99014051 L92.5110434,6.41086196 L93.0914868,6.41086196 L93.6715818,6.41086196 L93.6865633,9.76364387 L93.7015447,13.1164258 L94.1224184,13.1341062 L94.5436405,13.1517866 L94.5436405,9.78132427 L94.5436405,6.41086196 L95.385388,6.41086196 L96.2274838,6.41086196 L96.2274838,5.99014051 L96.2274838,5.56905824 L95.3801619,5.56905824 L94.5324916,5.56905824 L94.5537443,4.71209989 C94.5913721,3.18400783 95.2704142,2.46235869 96.26546,2.8928224 C96.5751924,3.02704914 96.5825089,3.019111 96.5640435,2.55112153 C96.5480168,2.14555472 96.5379131,2.11704958 96.3988993,2.07880217 C96.0724434,1.98859603 95.5993089,1.97416305 95.269369,2.04416301 M74.9747544,2.72143073 C73.6616145,3.17137897 73.000341,4.01643011 73.000341,5.24503778 C73.000341,6.53282067 73.6131861,7.23245951 75.4391788,8.02879934 C78.0177272,9.15348952 78.4013215,9.47354092 78.4013215,10.5004476 C78.4013215,12.5243127 75.346503,13.0904464 73.3794061,11.4310142 C72.9742106,11.0893133 73.000341,11.0709113 73.000341,11.7001893 C73.000341,12.3489519 73.2773233,12.6224569 74.3068613,12.9897764 C76.8857581,13.9095182 79.2716382,12.6928177 79.2716382,10.4575095 C79.2716382,9.16575756 78.6925885,8.42823214 77.1233705,7.72209845 C77.0115324,7.67158301 76.85475,7.60122222 76.7749651,7.56550059 C76.6951803,7.52941813 76.3945064,7.40060376 76.107072,7.27864505 C74.1452012,6.44766607 73.6358325,5.84256326 73.9709985,4.74132668 C74.4204414,3.26447171 77.0143196,3.02235842 78.5859764,4.31086296 C78.9019801,4.56957418 78.9232328,4.54900718 78.9232328,3.98287343 C78.9232328,3.42900771 78.9347302,3.44957471 78.4877261,3.19411092 C77.5696779,2.66911117 75.8158051,2.4331319 74.9747544,2.72143073 M80.6074245,2.78529668 C80.2534447,2.85204923 80.066351,3.44307987 80.3053571,3.73895602 C80.6642146,4.18349189 81.3582382,3.94354355 81.3606841,3.37416238 C81.362419,2.95416258 81.0415377,2.7033895 80.6074245,2.78529668 M97.4758204,2.78493586 C97.1361251,2.87189458 96.9587868,3.30668818 97.1263698,3.64225503 C97.3249609,4.04024454 97.8688217,4.08318266 98.1426683,3.72235809 C98.4746987,3.28539953 98.0200296,2.6460184 97.4758204,2.78493586 M107.115153,2.78493586 C106.758734,2.87622447 106.578608,3.53725508 106.843048,3.78478074 C107.424537,4.32998667 108.234579,3.55962621 107.709881,2.9602966 C107.576441,2.8076678 107.32106,2.73261629 107.115153,2.78493586 M83.5688704,4.63704838 L83.5688704,5.56905824 L82.7849583,5.56905824 L82.0010461,5.56905824 L82.0010461,5.99014051 L82.0010461,6.41086196 L82.7849583,6.41086196 L83.5688704,6.41086196 L83.5688704,9.7787985 L83.5688704,13.1463742 L84.0043772,13.1463742 L84.4398839,13.1463742 L84.4398839,9.7787985 L84.4398839,6.41086196 L85.2816314,6.41086196 L86.1237272,6.41086196 L86.1237272,5.99014051 L86.1237272,5.56905824 L85.2816314,5.56905824 L84.4398839,5.56905824 L84.4398839,4.63704838 L84.4398839,3.70467769 L84.0043772,3.70467769 L83.5688704,3.70467769 L83.5688704,4.63704838 M110.047681,4.63704838 L110.047681,5.56905824 L109.292686,5.56905824 L108.537692,5.56905824 L108.537692,5.99014051 L108.537692,6.41086196 L109.292338,6.41086196 L110.046636,6.41086196 L110.061617,9.76364387 L110.076598,13.1164258 L110.512105,13.1164258 L110.947612,13.1164258 L110.962593,9.76364387 L110.977575,6.41086196 L111.818974,6.41086196 L112.660721,6.41086196 L112.660721,5.99014051 L112.660721,5.56905824 L111.818625,5.56905824 L110.97653,5.56905824 L110.97653,4.63704838 L110.97653,3.70467769 L110.512105,3.70467769 L110.047681,3.70467769 L110.047681,4.63704838 M119.919051,4.48658453 C119.919051,4.6565329 119.93229,4.66699681 120.149347,4.66699681 L120.379643,4.66699681 L120.396018,5.28328518 L120.412741,5.89993437 L120.601229,5.91869725 L120.790065,5.93746013 L120.790065,5.30240888 L120.790065,4.66699681 L121.022451,4.66699681 C121.241598,4.66699681 121.254489,4.65689373 121.254489,4.48658453 L121.254489,4.30617224 L120.586944,4.30617224 L119.919051,4.30617224 L119.919051,4.48658453 M121.428692,5.11802753 L121.428692,5.92988281 L121.602894,5.92988281 L121.777097,5.92988281 L121.777794,5.46369747 L121.778491,4.99787295 L121.958965,5.28328518 C122.17846,5.63075924 122.184383,5.63112007 122.393426,5.31792434 L122.561009,5.06715126 L122.578429,5.50194487 L122.595501,5.9370993 L122.78155,5.91833642 L122.967598,5.89993437 L122.983973,5.1028729 L123,4.30617224 L122.801061,4.30617224 C122.626161,4.30617224 122.579823,4.3422547 122.416073,4.60673911 C122.313641,4.77235759 122.217133,4.9076668 122.201455,4.9076668 C122.152678,4.9076668 121.955481,4.63993497 121.95339,4.57101748 C121.949906,4.45411032 121.743302,4.30617224 121.58408,4.30617224 L121.428692,4.30617224 L121.428692,5.11802753 M88.5224984,5.5640067 C86.9658231,6.0251405 86.1122299,7.73508814 86.3017624,10.0133345 C86.4923402,12.3089004 88.2632848,13.6435905 90.5077124,13.1831783 C91.4675693,12.9861681 91.8142326,12.7198796 91.8142326,12.1797252 C91.8142326,11.6662718 91.80169,11.6601378 91.3564279,11.9534882 C89.4834005,13.1867866 87.1741695,11.9957047 87.1696403,9.79359231 L87.1689434,9.41797393 L89.7238002,9.41797393 L92.2790054,9.41797393 L92.2776118,8.95178859 C92.2716889,6.42421247 90.6265186,4.94050184 88.5224984,5.5640067 M102.085921,5.53586238 C101.68839,5.64952212 101.239992,5.92230549 100.894026,6.26075894 L100.586732,6.56168663 L100.570009,6.08034666 L100.553634,5.59900668 L100.103146,5.5816871 L99.6526573,5.5640067 L99.6676388,9.34003582 L99.6826202,13.1164258 L100.118127,13.1164258 L100.553634,13.1164258 L100.582551,10.4102415 L100.611469,7.70405722 L100.808666,7.4099852 C101.780369,5.96019207 103.657577,5.90787251 104.294114,7.31256256 L104.443928,7.64379952 L104.462394,10.3950869 L104.480511,13.1463742 L104.916366,13.1463742 L105.351873,13.1463742 L105.33062,10.244623 C105.30658,7.01416064 105.312851,7.0693668 104.891978,6.43900628 C104.349511,5.62606852 103.136711,5.23601716 102.085921,5.53586238 M80.3750381,9.35771623 L80.3750381,13.1517866 L80.7959119,13.1341062 L81.217134,13.1164258 L81.217134,9.35771623 L81.217134,5.59900668 L80.7959119,5.58132628 L80.3750381,5.56364587 L80.3750381,9.35771623 M97.2145163,9.35771623 L97.2145163,13.1463742 L97.6500231,13.1463742 L98.0855298,13.1463742 L98.0855298,9.35771623 L98.0855298,5.56905824 L97.6500231,5.56905824 L97.2145163,5.56905824 L97.2145163,9.35771623 M106.853849,9.360242 L106.853849,13.1517866 L107.274722,13.1341062 L107.695944,13.1164258 L107.710926,9.3425616 L107.725907,5.56905824 L107.289704,5.56905824 L106.853849,5.56905824 L106.853849,9.360242 M113.066962,5.65998603 C113.066962,5.71014065 113.090654,5.79818184 113.119223,5.85555295 C113.147792,5.91292406 113.210505,6.06807862 113.258237,6.20050124 C113.306317,6.33292386 113.424774,6.64395464 113.521283,6.89220194 C113.618139,7.14008842 113.872475,7.80328398 114.086396,8.36544866 C114.300666,8.92761334 114.508315,9.4688502 114.548382,9.56807695 C114.588448,9.66730371 114.67764,9.89750979 114.747321,10.0793654 C114.816654,10.261221 114.895045,10.4643652 114.921524,10.5303961 C114.947654,10.596427 115.010019,10.758798 115.059841,10.8912207 C115.109314,11.0236433 115.309996,11.5482822 115.505451,12.0574057 L115.860825,12.9832815 L115.651085,13.5007039 C115.354243,14.2335386 115.36365,14.2097242 115.157394,14.7401363 C115.054615,15.0046208 114.948351,15.2752392 114.921524,15.3412701 C114.819093,15.5916823 114.69297,15.9283317 114.69297,15.9499811 C114.69297,16.0668883 115.618335,15.9579193 115.650736,15.8374039 C115.670944,15.763074 115.767104,15.4993112 115.863961,15.2510639 C115.961166,15.0031775 116.074397,14.7054972 116.115509,14.5896725 C116.199475,14.3544149 116.525582,13.5144153 116.640556,13.2365804 C116.681668,13.1373536 116.810578,12.799261 116.927294,12.4849828 C117.04401,12.1707046 117.162468,11.859313 117.190688,11.7932821 C117.218561,11.7272512 117.297997,11.5241069 117.366981,11.3422514 C117.435617,11.1603958 117.565921,10.8219423 117.656506,10.5906538 C117.835587,10.1316849 118.539366,8.28895385 118.701374,7.85416024 C118.757119,7.70550052 118.975221,7.14044924 119.186703,6.59885156 C119.397837,6.05725388 119.570646,5.60405822 119.570646,5.59179019 C119.570646,5.49977992 118.63448,5.57988298 118.605911,5.67441901 C118.560618,5.82235709 118.41603,6.21276927 118.288514,6.53137737 C118.228936,6.68003709 118.085742,7.05890289 117.969723,7.37318109 C117.854052,7.68745929 117.642222,8.25575799 117.499027,8.63606709 C117.356181,9.01637618 117.173965,9.50348935 117.094528,9.7185408 C117.015092,9.93359224 116.913706,10.2042107 116.869459,10.3200354 C116.825211,10.4354992 116.690727,10.7941588 116.570527,11.116736 C116.352077,11.7027151 116.285531,11.7958078 116.224909,11.5977152 C116.176132,11.4375091 115.971966,10.8796743 115.603353,9.89895308 C115.460159,9.51864399 115.25878,8.97740713 115.155304,8.69632479 C115.051828,8.41488163 114.877277,7.9548303 114.767529,7.67374796 C114.484972,6.95209882 114.118101,5.95405806 114.032045,5.67441901 C113.987101,5.52828506 113.066962,5.51457373 113.066962,5.65998603 M90.201464,6.44333617 C90.934509,6.80812981 91.1756055,7.21983065 91.4414389,8.56101558 L91.4682661,8.69632479 L89.3186048,8.69632479 C87.6347615,8.69632479 87.1689434,8.67972686 87.1689434,8.62091246 C87.1689434,7.86570663 87.9448423,6.68761441 88.6263232,6.40797537 C89.0458033,6.23586205 89.8196117,6.25318163 90.201464,6.44333617" id="path2"></path>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                        <nav class="mt-5 flex-1 px-2 bg-gray-800">
                            @Html.Action("Index", "SideNav")
                        </nav>
                        
                        @if (SystemManager.IsDesignMode)
                        {
                            Html.SfPlaceHolder("Components");
                            Html.SfPlaceHolder("SideNav");
                        }
                    </div>
                    <div class="flex-shrink-0 flex bg-gray-700 p-4">
                        <a href="https://www.sitefinitysteve.com" class="flex-shrink-0 w-full group block">
                            <div class="flex items-center">
                                <div>
                                    <img class="inline-block h-9 w-9 rounded-full" src="https://pbs.twimg.com/profile_images/1271931640516935681/2Au1zBBS_400x400.jpg" alt="">
                                </div>
                                <div class="ml-3">
                                    <p class="text-sm font-medium text-white">
                                        Steve McNiven-Scott
                                    </p>
                                    <p class="text-xs font-medium text-gray-300 group-hover:text-gray-200">
                                        View my site
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col w-0 flex-1 overflow-hidden">
            <div class="md:hidden pl-1 pt-1 sm:pl-3 sm:pt-3">
                <button class="-ml-0.5 -mt-0.5 h-12 w-12 inline-flex items-center justify-center rounded-md text-gray-500 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" v-on:click="openSidebar()">
                    <span class="sr-only">Open sidebar</span>
                    <!-- Heroicon name: outline/menu -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>
            <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none" tabindex="0">
                <div class="py-6">
                    @if (SystemManager.CurrentHttpContext.Request.Url.AbsolutePath != "/")
                    {
                    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                        @Html.SfPlaceHolder("PageTitle")
                    </div>
                    }
                <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
                    <!-- Replace with your content -->
                    <div class="py-4">
                        @Html.SfPlaceHolder("Content")
                    </div>
                    <!-- This example requires Tailwind CSS v2.0+ -->
                    <footer class="">
                        <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
                            <div class="flex justify-center space-x-6 md:order-2">
                                <a href="https://www.twitter.com/stevemcniven" class="text-gray-400 hover:text-gray-500">
                                    <span class="sr-only">Twitter</span>
                                    <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                        <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
                                    </svg>
                                </a>

                                <a href="https://github.com/sitefinitysteve" class="text-gray-400 hover:text-gray-500">
                                    <span class="sr-only">GitHub</span>
                                    <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
                                    </svg>
                                </a>
                            </div>
                            <div class="mt-8 md:mt-0 md:order-1">
                                <p class="text-center text-base text-gray-400">
                                    &copy; @DateTime.Now.Year <a href="https://www.sitefinitysteve.com">SitefinitySteve.com</a>. All rights reserved.
                                </p>
                            </div>
                        </div>
                    </footer>

                    <!-- /End replace -->
                </div>
                </div>
            </main>
        </div>
    </div>












    @Html.Section("vue")
    @Html.Section("jquery")
    @Html.Section("kendo")
    @Html.Section("frameworks")
    @Html.Section("plugins")
    @Html.Section("bottom")

    @Html.Script(Url.WidgetContent("~/ResourcePackages/RSC/assets/public/js/app.js"), "bottom", true)

    @if (SystemManager.CurrentHttpContext.Request.Url.AbsoluteUri.Contains("/components/"))
    {
        if (!SystemManager.IsDesignMode || SystemManager.IsPreviewMode)
        {
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
            Html.Script(ScriptRef.JQuery, Telerik.Sitefinity.RSCUtil.SfsConfig.jQueryScriptPlaceholder);
            Html.Script("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", "frameworks");
            Html.StyleSheet("/ResourcePackages/RSC/assets/public/css/bootstrap.min.css", "bottom");
        }
    }
</body>
</html>
