@model RandomSiteControlsMVC.MVC.Models.TabStrip.TabStripModel

@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Mvc;
@using RandomSiteControlsMVC.Helpers;
@using Telerik.Sitefinity.Services;

@Html.Script(ScriptRef.JQuery, RSCUtil.SfsConfig.jQueryScriptPlaceholder)
@Html.Script(Url.EmbeddedResource("RandomSiteControlsMVC.Reference", "RandomSiteControlsMVC.MVC.Views.TabStrip.Resources.bootstrap.es5.min.js"), RSCUtil.SfsConfig.DefaultScriptPlaceholder)
@Html.StyleSheet(Url.EmbeddedResource("RandomSiteControlsMVC.Reference", "RandomSiteControlsMVC.MVC.Views.TabStrip.Resources.tabstrip.min.css"), "head")

@if (SystemManager.IsDesignMode && !SystemManager.IsPreviewMode)
{
    <div class="sfs-tabstrip-configurator" data-type="bootstrap">
        @*This is so the designer has something to render instantly on a change as SF has no way to notify on save*@
        <ul class="nav nav-tabs" role="tablist">
            @{int i = 0;}
            @foreach (var tab in Model.Tabs)
            {
                <li role="presentation" class='@(tab.Selected ? "active" : "")'>
                    <a href="#@i" aria-controls="@tab.Title.ToLower()" role="tab" data-toggle="tab">@tab.Title</a>
                </li>
                i++;
            }
        </ul>
    </div>
}
else
{
    <ul class="sfs-tabstrip-configurator nav nav-tabs" role="tablist" data-type="bootstrap" data-classname="@(Model.ClassName)">
        @{int i = 1;}
        @foreach (var tab in Model.Tabs)
        {
            <li role="presentation" class='@(tab.Selected ? "active" : "")'>
                <a aria-controls="@tab.Title.ToLower()" role="tab" data-toggle="tab">@tab.Title</a>
            </li>
            i++;
        }
    </ul>
}
