@model RandomSiteControlsMVC.MVC.Models.WidgetFinder.WidgetFinderModel

@using Telerik.Sitefinity.Pages.Model;
@using Telerik.Sitefinity.Pages.Model;
@using Telerik.Sitefinity.Security.Configuration;
@using Telerik.Sitefinity.Security.Model;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Security;
@using Telerik.Sitefinity.Web;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Configuration;
@using Telerik.Sitefinity.Mvc;
@using RandomSiteControlsMVC.Helpers;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Security;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Configuration;
@using Telerik.Sitefinity.Security.Configuration;
@using Telerik.Sitefinity.Security.Claims;

@Html.Script(Url.EmbeddedResource("RandomSiteControlsMVC.Reference", "RandomSiteControlsMVC.MVC.Views.WidgetFinder.Resources.widgetfinder.min.js"), RSCUtil.SfsConfig.DefaultScriptPlaceholder)
@Html.StyleSheet(Url.EmbeddedResource("RandomSiteControlsMVC.Reference", "RandomSiteControlsMVC.MVC.Views.WidgetFinder.Resources.widgetfinder.min.css"), "head")

<div class="widget-finder-wrapper">
    <div class="row">
        <div class="col-md-8">
            <div>
                <div class="input-group">
                    <input ID="controlTextBox" type="text" class="form-control" placeholder="Widget Name..." value="@Model.SelectedControl" />
                    <span class="input-group-btn">
                        <input ID="goButton" type="button" class="btn btn-primary" onclick="doSearch()" value="Find widgets" />
                    </span>
                </div>
            </div>

            <hr />

            <ul class="list-group">
                @foreach (var p in Model.FoundPages.OrderBy(x => x.GetUrl()))
                {
                    var url = p.GetUrl().Replace("~", "");

                    <li class="list-group-item d-flex justify-content-between">
                        <div class="pull-left">
                            <a href="@url" target="_blank">
                                @p.Title
                            </a>
                            <div class="text-muted">
                                @url
                            </div>
                        </div>
                    </li>
                }
            </ul>

            @if (Model.FoundPages.Count() == 0 && !String.IsNullOrEmpty(Model.SelectedControl))
            {
                <h3>No items here might mean you don't have access</h3>
            }

            @if (String.IsNullOrEmpty(Model.SelectedControl))
            {
                <h3>Select a widget from the list on the side to find out where it lives on the site</h3>
            }

        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-group">
                        @foreach (var c in Model.Controls)
                        {
                            if (c != null)
                            {
                                <li runat="server" class="list-group-item">
                                    <a href="?control=@c.ToString()">@c.ToString()</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>