@model RandomSiteControlsMVC.MVC.Models.TabStrip.TabStripModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Mvc;
@using RandomSiteControlsMVC.Helpers;
@using Telerik.Sitefinity.Services;

@Html.Script(ScriptRef.KendoWeb, RSCUtil.SfsConfig.KendoScriptPlaceholder)

@Html.Script("https://dev.sitefinitysteve.com/Sitefinity/Temp/kendo.js", RSCUtil.SfsConfig.DefaultScriptPlaceholder)

@Html.StyleSheet(Url.EmbeddedResource("RandomSiteControlsMVC.Reference", "RandomSiteControlsMVC.MVC.Views.TabStrip.Resources.tabstrip.min.css"))
@Html.StyleSheet("https://kendo.cdn.telerik.com/2016.2.504/styles/kendo.common.min.css")
@Html.StyleSheet("https://kendo.cdn.telerik.com/2016.2.504/styles/kendo.bootstrap.min.css")

@if (SystemManager.IsDesignMode)
{
    @*This is so the designer has something to render instantly on a change as SF has no way to notify on save*@
    <div class="k-tabstrip-wrapper">
        <div class="sfs-tabstrip-configurator k-widget k-header k-tabstrip k-floatwrap k-tabstrip-top" style="" data-role="tabstrip" tabindex="0" role="tablist">
            <ul class="k-tabstrip-items k-reset">
                @{int i = 0;}
                @foreach (var tab in Model.Tabs)
                {
                    <li class="k-item k-state-default @(i==0 ? "k-first" : "")@(i==Model.Tabs.Count() - 1 ? "k-last" : "")">
                        <span class="k-loading k-complete"></span>
                        <span class="k-link">@tab.Title</span>
                    </li>
                    i++;
                }
            </ul>
        </div>
    </div>
}
else
{
    <div class="sfs-tabstrip-configurator" style="display:none">
        <ul>
            @foreach (var tab in Model.Tabs)
            {
                <li>@tab.Title</li>
            }
        </ul>
        <div>
            <span class="rainy">&nbsp;</span>
            <div class="weather">
                <h2>17<span>&ordm;C</span></h2>
                <p>Rainy weather in Paris.</p>
            </div>
        </div>
        <div>
            <span class="sunny">&nbsp;</span>
            <div class="weather">
                <h2>29<span>&ordm;C</span></h2>
                <p>Sunny weather in New York.</p>
            </div>
        </div>
        <div>
            <span class="sunny">&nbsp;</span>
            <div class="weather">
                <h2>21<span>&ordm;C</span></h2>
                <p>Sunny weather in London.</p>
            </div>
        </div>
    </div>
}